@charset "utf-8";

body{
    background-image: url("../bg.jpg");
    background-size: 1800px 1000px;
    color: white;
}

.nav-wrapper{
    background: linear-gradient( to bottom,  rgb(48, 49, 53), rgb(40, 44, 83) );
}

.card {
    opacity: 0.7;
    background-image: url("../star.jpg");
    border-radius: 20px;
}

.card-action{
    opacity: 0.7;
    background-image: url("../star.jpg");
}

.mode_box{
    border:1px solid white;
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    float: left;
}

.bbody{

}